@import "../../styles/responsive.scss";

.navbar {
    width: 100%;
    height: auto;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .icons { 
        display: flex;
        align-items: center;
        gap: 20px;

        .icon {
            display: flex;
            align-items: center;
            gap: 20px;

        }

        .icon {
            @include sm{
                display: none;
            }
        }

     

        .notification {
            position: relative;



            .noti {
                background-color: blueviolet;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                right: -7px;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


        .user {
            display: flex;
            align-items: center;

            img {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }



}

